/* css for pages outline*/

body, html {
    height: 100%;
    margin: 0;
  }

  /*navbar*/
  .topnav {
      overflow: hidden;
      background-color: #30332E;     
  }

  /*fix for responsiveness */
  .topnav img{
      vertical-align: top;
  }

  .topnav a{
      float: right;
      color: white;
      padding: 20px 22px;
      text-align: center;
      font-size: 20px;
      text-decoration: none;
  }

.topnav a:hover{
    background-color: #C4921C;
    color: black;
}

.topnav a.active{
  background-color: #FCAB10;
  color:black;}


footer {
    overflow: hidden;
    color: white;
    padding: 18px 20px;
    text-align: center;
    font-size: 20px;
    background-color: #30332E;     
}